<header class="main__header">
  <div class="main__logo">
    <h1 style="font-size: 27px; line-height: 1; margin-bottom: 0;">Попуск</h1>
    <h2 style="font-size: 13px; line-height: 1; margin-bottom: 0;">Каталог жалоб</h2>
  </div>
  <div>
    <button mat-flat-button color="accent">Добавить жалобу</button>
  </div>
</header>
<div class="main__content" role="main" style="border-top: 60px solid transparent;">
  Content
  <router-outlet></router-outlet>
</div>
<footer class="main__footer" style="border: 1px solid red;">
  <small role="contentinfo">Footer</small>
</footer>
