<form [formGroup]="addService.form" (ngSubmit)="addService.onSubmit(ComplaintTypeEnum.Person)" autocomplete="off">
  <div class="grid-row grid-3">
    <mat-form-field>
      <mat-label>Фамилия</mat-label>
      <input matInput formControlName="surname" autofocus />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Имя</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Отчество</mat-label>
      <input matInput formControlName="patronymic" />
    </mat-form-field>

    <ng-container formArrayName="sites">
      <mat-form-field *ngFor="let site of addService.sites.controls; let i = index; let last = last">
        <mat-label>Сайт/Соц. сети</mat-label>
        <input matInput [formControlName]="i" type="url" />
        <button
          *ngIf="last && addService.sites.controls.length < maxSitesNum"
          matSuffix
          mat-icon-button
          (click)="addService.addSite()"
          aria-label="Добавить сайт"
        >
          <mat-icon fontIcon="icon-add-circle"></mat-icon>
        </button>
        <button
          *ngIf="(!last || addService.sites.controls.length === maxSitesNum) && addService.sites.controls.length > 1"
          matSuffix
          mat-icon-button
          (click)="addService.removeSite(i)"
          aria-label="Добавить сайт"
        >
          <mat-icon fontIcon="icon-cancel-circle"></mat-icon>
        </button>
      </mat-form-field>
    </ng-container>

    <mat-form-field>
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email" type="email" />
    </mat-form-field>

    <ng-container formArrayName="phones">
      <mat-form-field *ngFor="let phone of addService.phones.controls; let i = index; let last = last">
        <mat-label>Телефон</mat-label>
        <input matInput [formControlName]="i" type="tel" />
        <button
          *ngIf="last && addService.phones.controls.length < maxPhonesNum"
          matSuffix
          mat-icon-button
          (click)="addService.addPhone()"
          aria-label="Добавить телефон">
          <mat-icon fontIcon="icon-add-circle"></mat-icon>
        </button>
        <button
          *ngIf="(!last || addService.phones.controls.length === maxPhonesNum) && addService.phones.controls.length > 1"
          matSuffix
          mat-icon-button
          (click)="addService.removePhone(i)"
          aria-label="Удалить телефон">
          <mat-icon fontIcon="icon-delete"></mat-icon>
        </button>
      </mat-form-field>
    </ng-container>
  </div>

  <div class="grid-row grid-3">
    <mat-form-field>
      <mat-label>Страна</mat-label>
      <mat-select formControlName="countryId">
        <mat-option [value]="null">
          Не выбрано
        </mat-option>
        <mat-option value="1">
          Украина
        </mat-option>
        <mat-option value="2">
          Россия
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- TODO: field with autocomplete -->
    <mat-form-field>
      <mat-label>Город</mat-label>
      <input matInput formControlName="cityName" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Категория</mat-label>
      <mat-select formControlName="categoryId">
        <mat-option [value]="null">
          Не выбрано
        </mat-option>
        <mat-option value="1">
          Автошколы
        </mat-option>
        <mat-option value="2">
          Стоматологии
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="grid-row grid-1">
    <mat-form-field>
      <mat-label>Заголовок</mat-label>
      <input matInput formControlName="shortDescription" type="text" />
    </mat-form-field>
  </div>

  <div class="grid-row grid-1">
    <mat-form-field>
      <mat-label>Описание</mat-label>
      <textarea
        matInput
        formControlName="fullDescription"
        cdkTextareaAutosize
        cdkAutosizeMinRows="5"
        cdkAutosizeMaxRows="25"></textarea>
    </mat-form-field>
  </div>

  <div class="grid-row">
    <button mat-flat-button color="primary">Сохранить</button>
  </div>
</form>
