<div class="search-container">
  <form class="search" role="search">
    <mat-form-field class="search__input">
      <mat-label>Поиск по каталогу жалоб</mat-label>
      <input matInput autofocus placeholder="Название, контакты, описание..." />
    </mat-form-field>
    <button mat-flat-button color="primary" class="search__button">Поиск</button>
  </form>
</div>

<div class="categories-container">
  <h2>Жалобы по странам</h2>
  <ng-container *ngIf="complaints$ | async as complaints">
    <ul *ngIf="complaints.countries" class="categories">
      <li *ngFor="let country of complaints.countries" class="categories__item">
        <a [routerLink]="['/', country.code]">{{ country.name }}</a>
        <ul *ngIf="country.cities" class="categories categories--sub">
          <li *ngFor="let city of country.cities">
            <a [routerLink]="[country.code, city._id]">{{ city.name }}</a>
          </li>
        </ul>
      </li>
    </ul>
    <!--  <ul *ngIf="complaints.categories">-->
    <!--    <li *ngFor="let category of complaints.categories">-->
    <!--      {{ category.name }}-->
    <!--      <ul>-->
    <!--        <li *ngFor="let subCategory of category.subCategories">-->
    <!--          <a [routerLink]="[country.code, city._id, subCategory._id]">{{ subCategory.name }}</a>-->
    <!--        </li>-->
    <!--      </ul>-->
    <!--    </li>-->
    <!--  </ul>-->
  </ng-container>
</div>

<div>
  <h2>Последние добавленные жалобы:</h2>
  <div style="display: flex">
    <div *ngFor="let complaint of lastComplaints$ | async" style="flex: 1 1 0;">
      ({{ complaint.countryCode }}, {{ complaint.cityName }})
      <h3><a [routerLink]="['/', complaint._id]">{{ complaint.shortDescription }}</a></h3>
      <p>{{ complaint.fullDescription }}</p>
    </div>
  </div>
</div>

