<div *ngIf="complaint$ | async as complaint">
  <div>
    Главная > {{ complaint.countryCode }} > {{ complaint.cityName }}
  </div>

  <h1>{{ complaint.shortDescription }}</h1>

  <div class="grid-row complaint-field" style="white-space: pre;">{{ complaint.fullDescription }}</div>

  <div class="grid-row grid-3">
    @if (complaint.type !== ComplaintTypeEnum.Person) {
      <div class="complaint-field">
        <span class="complaint-field__label">Название: </span>
        <span class="complaint-field__value">{{ complaint.name }}</span>
      </div>
    } @else {
      <div class="complaint-field">
        <span class="complaint-field__label">Фамилия: </span>
        <span class="complaint-field__value">{{ $any(complaint).surname }}</span>
      </div>

      <div class="complaint-field">
        <span class="complaint-field__label">Имя: </span>
        <span class="complaint-field__value">{{ complaint.name }}</span>
      </div>

      <div class="complaint-field">
        <span class="complaint-field__label">Отчество: </span>
        <span class="complaint-field__value">{{ $any(complaint).patronymic }}</span>
      </div>
    }

    @if (complaint.type !== ComplaintTypeEnum.Product) {
      @if ($any(complaint).sites.length) {
        <div class="complaint-field">
          <span class="complaint-field__label">Сайт/Соц. сети: </span>
          <span class="complaint-field__value">
          @for (site of $any(complaint).sites; track site;) {
            {{ site }}<br />
          }
        </span>
        </div>
      }

      @if ($any(complaint).email) {
        <div class="complaint-field">
          <span class="complaint-field__label">E-mail: </span>
          <span class="complaint-field__value"><a href="mailto:{{ $any(complaint).email }}">{{ $any(complaint).email }}</a></span>
        </div>
      }

      @if ($any(complaint).phones.length) {
        <div class="complaint-field">
          <span class="complaint-field__label">Телефон: </span>
          <span class="complaint-field__value">
            @for (phone of $any(complaint).phones; track phone;) {
              {{ phone }}<br />
            }
          </span>
        </div>
      }

    } @else {
      <div class="complaint-field">
        <span class="complaint-field__label">Штрих код: </span>
        <span class="complaint-field__value">{{ $any(complaint).barCode }}</span>
      </div>
    }
  </div>

  <div class="grid-row grid-3">
<!--    <div class="complaint-field">-->
<!--      <span class="complaint-field__label">Категория: </span>-->
<!--      <span class="complaint-field__value">{{ complaint.categoryId }}</span>-->
<!--    </div>-->

    <div class="complaint-field">
      <span class="complaint-field__label">Страна: </span>
      <span class="complaint-field__value">{{ complaint.countryCode }}</span>
    </div>

    @if (complaint.cityName) {
      <div class="complaint-field">
        <span class="complaint-field__label">Город: </span>
        <span class="complaint-field__value">{{ complaint.cityName }}</span>
      </div>
    }
  </div>
</div>
