<div *ngIf="complaint$ | async as complaint">
  <app-breadcrumb
    [data]="[
      { link: ['/', 'country', complaint.countryCode], text: complaint.countryName },
      { link: ['/', 'country', complaint.countryCode, 'city', complaint.cityUrl], text: complaint.cityName }
    ]"
  ></app-breadcrumb>

  <h1 class="short-description">{{ complaint.shortDescription }}</h1>

  <div class="complaint-info">
    <div class="grid-row complaint-field full-description">{{ complaint.fullDescription }}</div>

    <div class="grid-row grid-3">
      @if (complaint.type !== ComplaintTypeEnum.Person) {
        @if (complaint.name) {
          <div class="complaint-field">
            <div class="complaint-field__label">Название: </div>
            <div class="complaint-field__value">{{ complaint.name }}</div>
          </div>
        }
      } @else {
        @if ($any(complaint).surname) {
          <div class="complaint-field">
            <div class="complaint-field__label">Фамилия: </div>
            <div class="complaint-field__value">{{ $any(complaint).surname }}</div>
          </div>
        }

        @if (complaint.name) {
          <div class="complaint-field">
            <div class="complaint-field__label">Имя: </div>
            <div class="complaint-field__value">{{ complaint.name }}</div>
          </div>
        }

        @if ($any(complaint).patronymic) {
          <div class="complaint-field">
            <div class="complaint-field__label">Отчество: </div>
            <div class="complaint-field__value">{{ $any(complaint).patronymic }}</div>
          </div>
        }
      }

      @if (complaint.type !== ComplaintTypeEnum.Product) {
        @if ($any(complaint).sites.length) {
          <div class="complaint-field">
            <div class="complaint-field__label">Сайт/Соц. сети: </div>
            @for (site of $any(complaint).sites; track site) {
              <div class="complaint-field__value">{{ site }}</div>
            }
          </div>
        }

        @if ($any(complaint).email) {
          <div class="complaint-field">
            <div class="complaint-field__label">E-mail: </div>
            <div class="complaint-field__value">
              <a href="mailto:{{ $any(complaint).email }}">{{ $any(complaint).email }}</a>
            </div>
          </div>
        }

        @if ($any(complaint).phones.length) {
          <div class="complaint-field">
            <div class="complaint-field__label">Телефон: </div>
            @for (phone of $any(complaint).phones; track phone) {
              <div class="complaint-field__value">{{ phone }}</div>
            }
          </div>
        }

      } @else {
        @if ($any(complaint).barCode) {
          <div class="complaint-field">
            <div class="complaint-field__label">Штрих код: </div>
            <div class="complaint-field__value">{{ $any(complaint).barCode }}</div>
          </div>
        }
      }
    </div>

    <div class="grid-row grid-3">
      <!--    <div class="complaint-field">-->
      <!--      <div class="complaint-field__label">Категория: </div>-->
      <!--      <div class="complaint-field__value">{{ complaint.categoryId }}</div>-->
      <!--    </div>-->

      <div class="complaint-field">
        <div class="complaint-field__label">Страна: </div>
        <div class="complaint-field__value">{{ complaint.countryName }}</div>
      </div>

      @if (complaint.cityName) {
        <div class="complaint-field">
          <div class="complaint-field__label">Город: </div>
          <div class="complaint-field__value">{{ complaint.cityName }}</div>
        </div>
      }
    </div>
  </div>
</div>
