@import "normalize.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

@import "assets/icomoon/style";
@import "assets/styles/variables";
@import "assets/styles/media-queries";
@import "assets/styles/grid";

html,
body {
  height: 100%;
}

body {
  background-color: #f9f9f9;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

a {
  color: #1a70c1;
  text-decoration: none;
  transition: 0.3s color;

  &:hover {
    color: #034d92;
  }
}

// TODO: move to separate files
.mat-form-field-required-marker {
  color: #f44336;
}

.mat-mdc-optgroup-label {
  font-weight: bold;
}
