<form [formGroup]="addService.form" (ngSubmit)="addService.onSubmit(ComplaintType.Product)" autocomplete="off">
  <div class="grid-row grid-3">
    <mat-form-field>
      <mat-label>Название</mat-label>
      <input matInput formControlName="name" autofocus />
    </mat-form-field>
  </div>

  <div class="grid-row grid-3">
    <mat-form-field>
      <mat-label>Категория</mat-label>
      <mat-select formControlName="categoryId">
        <input
          type="text"
          [formControl]="addService.categoriesFilter"
          class="dropdown-filter"
          placeholder="Поиск"
          autocomplete="off"
          #categoriesFilter
        />
        <!-- <mat-option [value]="null">Не выбрано</mat-option>-->
        <ng-container *ngFor="let categoryGroup of addService.categories$ | async">
          <mat-optgroup
            *ngIf="
              (categoryGroup.name | includes: categoriesFilter.value)
              || (categoryGroup.subCategories | filter: categoriesFilter.value:'name').length
            "
            [label]="categoryGroup.name"
          >
            <ng-container *ngFor="let category of categoryGroup.subCategories">
              <mat-option
                *ngIf="
                  (categoryGroup.name | includes: categoriesFilter.value)
                  || (category.name | includes: categoriesFilter.value)
                "
                [value]="category.id"
              >
                {{ category.name }}
              </mat-option>
            </ng-container>
          </mat-optgroup>
        </ng-container>
        <!--        TODO:-->
        <!--        <mat-option *ngIf="!categories.length" disabled>Ничего не найдено</mat-option>-->
      </mat-select>
    </mat-form-field>

    <!-- TODO: make custom control-->
    <mat-form-field>
      <mat-label>Страна</mat-label>
      <mat-select formControlName="countryId">
        <input
          type="text"
          [formControl]="addService.countriesFilter"
          class="dropdown-filter"
          placeholder="Поиск"
          autocomplete="off"
          #countriesFilter
        />
        <!-- <mat-option [value]="null">Не выбрано</mat-option>-->
        <ng-container *ngIf="addService.countries$ | async | filter: countriesFilter.value:'name' as countries">
          <mat-option *ngFor="let country of countries" [value]="country.code">
            <div class="flag" [ngClass]="'flag-' + country.code"></div>{{ country.name }}
          </mat-option>
          <mat-option *ngIf="!countries.length" disabled>Ничего не найдено</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>

    <!-- TODO: make field with autocomplete -->
    <mat-form-field *ngIf="addService.form.get('countryId')?.value !== null">
      <mat-label>Город</mat-label>
      <input matInput formControlName="cityName" />
    </mat-form-field>
  </div>

  <div class="grid-row grid-1">
    <mat-form-field>
      <mat-label>Заголовок</mat-label>
      <input matInput formControlName="shortDescription" type="text" />
    </mat-form-field>
  </div>

  <div class="grid-row grid-1">
    <mat-form-field>
      <mat-label>Описание</mat-label>
      <textarea
        matInput
        formControlName="fullDescription"
        cdkTextareaAutosize
        cdkAutosizeMinRows="5"
        cdkAutosizeMaxRows="25"></textarea>
    </mat-form-field>
  </div>

  <div class="grid-row">
    <button mat-flat-button color="primary">Сохранить</button>
  </div>
</form>

