<header class="main-header">
  <div class="main-header__inner">
    <a routerLink="/" class="main-logo">
      <h1 class="main-logo__title">Попуск</h1>
      <h2 class="main-logo__description">Каталог анонимных жалоб</h2>
    </a>

    <div>
      <a routerLink="/add" mat-flat-button color="accent">Добавить жалобу</a>
    </div>
  </div>
</header>
<div class="main-content">
  <div class="main-content__inner" role="main">
    <router-outlet></router-outlet>
  </div>
</div>
<footer class="main-footer">
  <div class="main-footer__inner">
    <small role="contentinfo">Footer</small>
  </div>
</footer>
