<mat-form-field [attr.aria-describedby]="describedBy" [attr.aria-labelledby]="parentFormField?.getLabelId()">
  <mat-label>{{ label }}<span aria-hidden="true" class="mat-form-field-required-marker"> *</span></mat-label>
  <mat-select
    [(ngModel)]="value"
    (selectionChange)="selectionChanged($event)"
    [required]="required"
    [placeholder]="placeholder"
    [disabled]="disabled"
    (focusin)="onFocusIn($event)"
    (focusout)="onFocusOut($event)"
    panelClass="dropdown-with-filter"
  >
    <input
      type="text"
      [formControl]="filterControl"
      class="dropdown-filter"
      placeholder="Поиск"
      autocomplete="off"
      #filter
    />
    <ng-container *ngIf="items$ | async as items">
<!--      <mat-option *ngIf="!required" [value]="null">Не выбрано</mat-option>-->
      @if (!subItems) {
        @for (item of items | filter: filter.value: bindLabel; track item[bindValue]) {
          <mat-option [value]="item[bindValue]">
            <div class="flag" [ngClass]="showFlag ? 'flag-' + item[bindValue] : ''"></div>{{ item[bindLabel] }}
          </mat-option>
        } @empty {
          <mat-option disabled>Ничего не найдено</mat-option>
        }
      } @else {
        @for (item of items; track item[bindLabel]) {
          @if (
            (item[bindLabel] | includes: filter.value)
            || (item[subItems] | filter: filter.value: bindLabel).length
          ) {
            <mat-optgroup [label]="item[bindLabel]">
              @for (subItem of item[subItems]; track subItem[bindValue]) {
                <mat-option
                  *ngIf="(item[bindLabel] | includes: filter.value) || (subItem[bindLabel] | includes: filter.value)"
                  [value]="subItem[bindValue]"
                >
                  {{ subItem[bindLabel] }}
                </mat-option>
              }
            </mat-optgroup>
          }
        } @empty {
          <mat-option disabled>Ничего не найдено</mat-option>
        }
      }
    </ng-container>
  </mat-select>
</mat-form-field>
