@import "../../../assets/styles/flags.css";

:host {
  display: contents;

  .mat-mdc-form-field {
    width: 100%;
  }
}

::ng-deep {
  .cdk-overlay-container {
    .flag {
      margin-right: 8px;
    }

    .dropdown-with-filter {
      padding-top: 0;
    }

    .dropdown-filter {
      position: sticky;
      background-color: #fff;

      border: none;
      border-bottom: 1px solid #000;
      height: 48px;
      outline: none;
      padding: 0 16px;
      top: 0px;
      width: 100%;
      z-index: 1;
    }
  }
}
