// CSS variables are not available im media query declaration
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1280px;

@mixin mobile {
    @media (max-width: calc($tablet-width - 0.1px)) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $tablet-width) and (max-width: calc($desktop-width - 0.1px)) {
        @content;
    }
}

@mixin mobile-and-tablet {
    @media (max-width: calc($desktop-width - 0.1px)) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop-width) {
        @content;
    }
}
